.App {
  text-align: center;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 전체 뷰포트의 높이 */
  text-align: center;
}

.home-page h1 {
  margin: 20px;
  font-size: 2em;
}

.home-page button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.upload-page h1 {
  margin: 50px;
  font-size: 2em;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
